 
body{
 
width:800px; 
margin:0 auto;
}
.alfa{
float: left;
background: #4775FF;
height: 40px;
width: 40px;
position: relative;
margin-left: 3px;
margin-right: 3px;
margin-top: 3px;
margin-bottom: 3px;
color: #FFFFFF;
text-align: center;
font-size: 34px;
cursor: pointer;
margin:3 auto;
}

.guessword{
float: left;
font-size: 58px;
margin-bottom: 12px;
}

 
 
